################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Azuki/bin
/Azuki/obj
/AzukiTest/bin
/AzukiTest/obj/Debug
/AzukiTest/obj/Release
